* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    width: 100%;
}

header {
    margin: 0;
    padding: 0 20px;
    height: 100px;
    background-color: #c5baff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.logo {
    width: 60px;
}

.logo img {
    width: 100%;
}

.menu {
    font-family: Arial, Helvetica, sans-serif;
    color: #545454;
    font-size: 20px;
    display: flex;
    gap: 80px;
    font-weight: 600;
}

.menu a:hover {
    color: rgba(190, 189, 189, 0.795);
    cursor: pointer;
}

.fa-solid {
    color: #545454;
    font-size: 40px;
}

main {
    width: 100%;
}

.sideBar {
    width: 12%;
    height: 100%;
    background-color: #C4D9FF;
    position: fixed;
    top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #7e67f1c1;
    padding: 0 4%;
}

.sideBar h4 {
    font-size: 32px;
    margin-top: 80px;
}

.timeNav {
    list-style-type: none
}

.era {
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.era:hover {
    color: #C4D9FF;
    background-color:#c5baff;
    cursor: pointer;
}

.mainContent {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
}

.mainTitle {
    margin-top: 12%;
    margin-left: 10%;
    letter-spacing: 6px;
    color: #c5baff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titlePart1 {
    font-size: 96px;
}

.titlePart2 {
    font-size: 220px;
}

.quoteDiv img {
    width: 100%;
}

.quotes {
    margin: 120px 40px;
    display: flex;
    justify-content: space-around;
}

.quoteDiv {
    border: 1px solid black;
    width: 18%;
}

.timeline {
    color: #7e67f1c1;
    width: 1350px;
    border: 1px solid black;
    z-index: -1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inventionWrapper {
    height: 250px;
    display: flex;
    align-items: center;
}

.imgWrapper {
    position: relative;
    border: 1px solid blue;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #C4D9FF;
}

.left .imgWrapper {
    left: 260px;
}

.right .imgWrapper {
    left: 200px;
}

.imgWrapper img {
    width: 100%;
    border-radius: 50%;
}

.column {
    position: relative;
    width: 30px;
    height: 100%;
}

.left .column {
    left: 260px;
}

.right .column {
    left: 200px;
}

.one .column {
    background-color: #C4D9FF;
}

.two .column {
    background-color: #c5baff;
}

.three .column {
    background-color: #E8F9FF;
}

.textWrapper {
    position: relative;
    border: 1px solid white;
    width: 400px;
    font-size: 20px;
}

.left .textWrapper {
    left: 200px;
}

.right .textWrapper {
    left: 260px;
}

.connectingLine {
    width: 300px;
    position: relative;
    border-bottom: 2px solid #c5baff;
    font-size: 22px;
    justify-content: center;
    display: flex;
    padding-bottom: 6px;
}

.left .connectingLine {
    left: 260px;
}

.right .connectingLine {
    left: 200px;
}

.discoveries {
    display: none;
}

.shortDesc:hover {
    background-color: aquamarine;
}

.textWrapper:hover .discoveries{
    display: block;
}

.textWrapper:hover .shortDesc {
    display: none;
}

.scientist:hover {
    color: #545454;
}