body {
    margin: 0;
    background-color: #749BC2;
}

main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: #FFFBDE;
    border-radius: 30px;
    width: 500px;
    padding: 50px;
}

.displayDiv,
#display {
    width: 100%;
    height: 60px;
    font-size: 30px;
    text-align: end;
    border-radius: 16px;
    border: none;
}

.buttonsDiv {
    margin-top: 40px;
    display: grid;
    width: 100%;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    gap: 20px;

}

button {
    aspect-ratio: 1.4 / 1;
    width: 100%;
    border-radius: 20px;
    border: none;
    color: whitesmoke;
}

button {
    background-color: #749BC2;
    font-size: 30px;
}

button:active {
    background-color: #4682A9;
}

.functionBtn {
    background-color: burlywood;
}

.functionBtn:active {
    background-color: rgb(219, 173, 114);
}

.cBtn {
    background-color: paleturquoise;
}

.cBtn:active {
    background-color: rgb(120, 180, 180);
}