.listItem:first-child {
    background-color: skyblue;
    color: white;
}

.listItem:last-child {
    color: red;
}

.listItem:nth-child(odd) {
    font-weight: bold;
}

.listItem:nth-child(3), .listItem:nth-child(6) {
   font-style: italic;
}

.task1::first-letter {
    font-size: 50px;
    color: brown;
}

.task2 {
    width: 200px;
    height: 120px;
    font-size: 40px;
    background-color: skyblue;
    border-radius: 20px;
    border: 5px solid blue;
    transition: all 0.8s ease;
}

.task2:hover {
    background-color: violet;
    border-color: blueviolet;
}

.task2:focus {
    background-color: pink;
    border-color: plum;
}

.task3 {
    width: 800px;
    height: 12px;
    background-color: violet;
    margin: 30px 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.task3::before {
    display: block;
    content: "";
    width: 0px;
    height: 12px;
    background-color: blue;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all ease 1s;
}

.task3:hover::before {
    width: 800px;
    height: 12px;
}

.task4 {
    position: relative;
    width: 400px;
    height: 400px;
}

.task4 img {
    width: 100%;
    top: 0;
    border-radius: 10px;
}

.task4::before {
    position: absolute;
    display: flex;
    content: "";
    width: 400px;
    height: 400px;
    background-color: black;
    color: white;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 0;
    transition: all .5s ease;
}

.task4:hover::before {
    content: "View Details";
    opacity: 0.5;
}

.task5 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    color: skyblue;
    font-size: 24px;
    width: fit-content;
}

.task5 p {
    margin: 0;
}

.task5::after {
    content: "Tooltip Text";
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 5px;
    opacity: 0;
    border-radius: 6px;
    transition: all .5s ease;
}

.task5:hover::after {
    opacity: 0.7;
}