body {
    background-color: #F8F3EB;
    font-family: sans-serif;
}

nav {
    display: flex;
    background-color: #F8F3EB;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-weight: 550;
    font-size: 18px;
    position: sticky;
    top: 0;
}

.logo {
    width: 100px;
}

.navDiv a {
    padding: 16px;
}

h1 {
    justify-self: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    margin: 80px;
}

h2 {
    font-size: 36px;
}

article {
    display: flex;
    margin: 60px;
}

section {
    /* width: 440px; */
    width: 20%;
    border-right: 1px solid rgba(128, 128, 128, 0.632);
    padding: 15px;
}

.section2 {
    width: 40%;
}

.section4 {
    border-right: none;
}

#div1, #div4, #div6 {
    border-bottom: 1px solid rgba(128, 128, 128, 0.632);
}

.text {
    font-size: 26px;
}

#laptop {
    width: 86%;
    margin: 30px 7%;
}

.articleImg {
    width: 70%;
    margin: 30px 15%;
}

.profile {
    width: 15%;
    height: 15%;
    border-radius: 15%;
    background-color: #323232;
    margin-right: 16px;
}

#div3 .author .profile {
    width: 7.5%;
    height: 7.5%;
}

.author {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.author div p{
    margin: 0;
    font-size: 20px;
    justify-self: end;
}

#playIcon {
    color: white;
    background-color: #323232;
    padding: 15px;
    border-radius: 26%;
}

#podcast {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#playStatus {
    width: 60%;
    height: 10px;
    background-color: #F8996F;
    z-index: 2;
    border-radius: 5px;
}
