body {
    height: 150vh;
    background-color: #F8F3EB;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F3EB;
}

#logo {
    width: 100px;
}

header div {
    display: flex;
}

nav a {
    margin-right: 10px;
}

.contactContainer p {
    margin-right: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    justify-self: center;
    border-bottom: 1px solid black;
    /* text-decoration: underline; */
}

section {
    display: flex;
}