* {
  margin: 0;
}

body {
  box-sizing: border-box;
  background: #749BC2;
  color: #4682A9;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  margin: 20px 0 40px 0;
  color: #F6F4EB;
}

main {
  display: flex;
}

.numbersDiv {
  display: flex;
}

#results,
.controls {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 22px;
  background: #F6F4EB;
  padding: 20px;
  border-radius: 10px;
  margin-right: 40px;
}

label,
.inputLine {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

input,
select,
.resultBox {
  font-size: 20px;
  padding: 6px;
  width: 100px;
  border-radius: 6px;
  border: none;
  background-color: white;
  color: #001a33;
}

select {
  width: 150px;
}

input:focus {
  outline: none;
}

canvas {
  background: #F6F4EB;
  display: block;
}

#formulas {
  width: 670px;
  margin-top: 20px;
  background: #F6F4EB;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
  display: inline-block;
}

.input-label {
  display: block;
  margin-bottom: 20px;
  height: fit-content;
}

.extra-inputs {
  margin-top: 6px;
  display: block;
  padding-left: 20px;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all .5s linear;
}

.showMorevelocity {
  height: 300px;
  opacity: 1;
  height: max-content;
}

.showMoreangle,
.showMorevt,
.showMorevf,
.showMoreva,
.showMoretime,
.showMorex-coordinate,
.showMorey-coordinate {
  height: 103px;
  opacity: 1;
}

.inputLine {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.graphFormulaDiv {
  width: 700px;
  border: 1px solid white;
}