body {
    background-color: #F4F4F4;
    margin: 0;
    font-family: sans-serif;
}

.mainTitle {
    background-image: url(images/drops.jpg);
    background-size: cover;
    padding: 30px;
    text-align: center;
    margin: 0;
}

nav {
    text-align: center;
}

nav section {
    background-color: #444444;
    padding: 10px;
    
}

nav a {
    padding: 10px;
    color: white;
}

.homeSection {
    display: flex;
}

.homeSection p {
    margin-left: 30px;
}

.mainPart {
    background-color: white;
    margin: 10px 60px 30px 60px;
    border-radius: 30px;
    padding: 25px;
    /* box-shadow: 10px 5px 5px #444444; */
}

footer {
    background-color: #444444;
    color: white;
    text-align: center;
    padding: 10px;
}

.umbrella {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 15px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 26px;
}