body {
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.container {
    width: 800px;
    height: 800px;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    background-color: #FEFBC7;
}

.box {
    border: 1px solid #FFB4B4;
}

.dot {
    background-color: #5EABD6;
}

#point {
    font-size: 60px;
    width: 120px;
    height: fit-content;
    margin: 0;
    padding: 16px;
    margin-left: 50px;
    text-align: center;
    color: #FEFBC7;
    background-color: #5EABD6;
}