body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: #c5baff;
    color: white;
    font-size: 24px;
}

.menu {
    display: flex;
    gap: 36px;
}

.logo img {
    width: 70px;
}

main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

.mainTitle {
    width: fit-content;
    color: #c5baff;
}

.mainTitle p {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titlePart1 {
    font-size: 80px;
}

.titlePart1 .hidden {
    visibility: hidden;
}

.titlePart2 {
    font-size: 60px;
}

.titlePart3 {
    font-size: 160px;
}

.sideBar {
    height: 100%;
    background-color: #c4d9ff;
    position: fixed;
    top: 80px;
    left: 0;
    overflow-x: hidden;
}

.quotes {
    width: 1200px;
    display: grid;
    grid-template: 1fr / repeat(5, 1fr);
    gap: 5%;
}

.quoteDiv {
    background-color: white;
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quoteDiv img {
    width: 100%;
    border-radius: 10px;
}

.quoteDiv p {
    margin: 0 10px;
    padding: 0;
}

.quote {
    text-align: justify;
}

.quoteName {
    text-align: end;
}

.timeline {
    color: black;
    border: 1px solid black;
    margin-top: 100px;
}

.inventionWrapper {
    width: 100%;
    height: 300px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.right .imgWrapper {
    order: 2;
}

.imgWrapper {
    width: 300px;
    height: 300px;
    /* background-color: antiquewhite; */
}

.imgWrapper img {
    height: 100%;
}

.textWrapper {
    width: 50%;
    text-align: justify;
    /* border: 1px solid white; */
    padding: 20px;
}

.textWrapper h2 {
    font-size: 36px;
    margin: 0;
    padding: 0;
}

.textWrapper h3 {
    font-size: 30px;
}

/* .discoveries {
    list-style-type: none;
} */

.discovery {
    font-size: 26px;
}

.result {
    font-size: 20px;
}

/* #invention1 {
    display: flex;
} */
/* 
.right .textWrapper {
    text-align: justify;
} */
/* 
.discovery:before {
    content: url(images/atom.png);
    width: 10px;
    height: 10px;
    padding-right: 5px;
} */

/* .ex {
    width: 300px;
    height: 220px;
    background-color: aliceblue;
} */