body {
    height: 200vh;
    margin: 0;
}

header {
    background-color: black;
    border-bottom: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 24px;
}

.menu {
    display: flex;
    gap: 36px;
}

.logo img {
    width: 70px;
}

main {
    height: 100%;
    background-image: url(https://images-assets.nasa.gov/image/PIA04921/PIA04921~orig.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.quotes {
    display: grid;
    grid-template: 1fr / repeat(5, 1fr);
    gap: 5%;
    position: absolute;
    /* bottom: 10vh; */
}

.quoteDiv {
    /* aspect-ratio: 1 / 1;  */
    border: 1px solid white;
    background-color: white;
    /* background-image: url(images/einstein.png); */
    background-size: cover;
    color: black;
    opacity: 0.7;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    /* padding: 36px 0; */
}

.quoteDiv img {
    width: 100%;
}

.quoteDiv p {
    /* margin: 0 36px; */
}