* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    margin: 0;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    height: 100vh;
    color: whitesmoke;
}

.container {
    display: flex;

}

.sideBar {
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.mainTitle {
    font-size: 42px;
    margin-top: 50px;
}

.inputLabel {
    font-size: 26px;
    color: whitesmoke;
}

#city-input {
    margin-top: 12px;
    width: 200px;
    height: 60px;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 12px;
    border: none;
}

#get-weather {
    width: 100px;
    height: 40px;
    font-size: 14px;
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 100px;
    border: none;
    transition: all .2s ease-in;
}

#get-weather:hover {
    background-color: #4CC9FE;

}

#get-weather:active {
    background-color: #37AFE1;
}

#weather-info {
    padding-left: 26px;
}

.headerDiv {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.cityName {
    font-size: 30px;
    font-weight: bold;
}

.dataDiv {
    display: flex;
    gap: 30px;
}

.tempDiv,
.othersDiv,
.windDiv {
    width: 220px;
    padding: 16px;
    border-radius: 10px;
    color: #146fbe;
    background-color: whitesmoke;
}

.feelsLike {
    font-size: 20px;
    font-weight: bold;
}